---
import Layout from '../layouts/Layout.astro';
import CategoryCard from '../components/CategoryCard.astro';
import PlaceholderCard from '../components/PlaceholderCard.astro';
import Hero from '../components/Hero.astro';

// let arr = [];
// const numbers = new Set();

// while (numbers.size < 10) {
// 	numbers.add(Math.floor(Math.random() * 133) + 1);
// };

// arr.push(...numbers);
---

<Layout title="Sports Smarts">
	<div class="container">
		<Hero 
			headline="The Quiz for the Fans"
			body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod mi elit. In euismod dignissim justo, tincidunt elementum nisl laoreet eu. Nam porta tincidunt neque. Donec egestas justo a turpis rhoncus tincidunt. Ut sagittis eget lacus ut suscipit."
		/>
		<div class="category">
			<CategoryCard 
				title="College" 
				url="/college"
				logo="https://a2.espncdn.com/combiner/i?img=%2Fi%2Fespn%2Fmisc_logos%2F500%2Fncaa.png"
				color="#007AC3"
			/>

			<CategoryCard 
				title="NBA" 
				url="/nba"
				logo="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png"
				color="#1D428A"
			/>

			<CategoryCard 
				title="NFL" 
				url="/nfl"
				logo="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nfl.png"
				color="#1B3D72"
			/>

			<CategoryCard 
				title="MLB" 
				url="/mlb"
				logo="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/mlb.png"
				color="#041E42"
			/>

			<CategoryCard 
				title="NHL" 
				url="/nhl"
				logo="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nhl.png"
				color="#231F20"
			/>

			<PlaceholderCard />
		</div>
	</div>
</Layout>

<style lang="scss">
	@use "../components/global.scss";

	.container {
		max-width: 1400px;
		margin: 0 auto;
		min-height: 80vh;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.category {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		gap: 10px;

		h2 {
			grid-column: auto / span 4;
			font-size: clamp(1.25rem, 2.55vw, 2.55rem);
			margin: 0;
		}

		p, .link {
			grid-column: auto / span 4;
		}

		p {
			margin: 5px 0;
		}

		.link {
			margin: 0 0 20px;
		}
	}

</style>