@use './global.scss';

.college-card {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    * {
        position: relative;
        z-index: 5;
    }

    @media (min-width: 650px) {
        gap: 1.15rem;
    }

    .college-logo, .college-content, .college-attempts {
        grid-column: auto / span 3;
    }

    .college-attempts {
        text-align: right;
    }

    .college-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            aspect-ratio: 1;
            filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.25));
            -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.25));
        }
    }

    .college-content {
        .college-headline {
            margin-bottom: 20px;
        }

        .college-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 10px;

            * {
                grid-column: auto / span 2;
            }

            .classification {
                text-transform: uppercase;
            }

            @media (min-width: 650px) {
                gap: 1.15rem;

                * {
                    grid-column: auto / span 1;
                }
            }
        }
    }

    @media (min-width: 650px) {
        .college-logo {
            grid-column: auto / span 1;
        }

        .college-content {
            grid-column: auto / span 2;
        }
    }

    .college-decoration {
        position: absolute;
        right: -10%;
        top: -10%;
        bottom: -10%;
        left: 50%;
        z-index: 1;
        opacity: 10%;
    }

    h1 {
        color: #FFF;
    }

    h2 {
        color: #FFF;
    }

    p {
        color: #FFF;
    }
}