@use './global.scss';

.college-card {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &::after {
        inset: 0;
        position: absolute;
        content: '';
        z-index: 1;
        background: rgba(0, 0, 0, 0.35);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.15));
    }

    * {
        position: relative;
        z-index: 5;
    }

    @media (min-width: 650px) {
        gap: 1.15rem;
    }

    .college-logo, .college-content, .college-attempts {
        grid-column: auto / span 3;
    }

    .college-attempts {
        text-align: right;
    }

    .college-logo {
        align-items: center;
        justify-content: center;
        display: none;

        @media (min-width: 650px) {
            display: flex;
        }

        img {
            max-width: 100%;
            aspect-ratio: 1;
        }
    }

    .college-content {
        .college-headline {
            margin-bottom: 20px;

            h2 {
                font-size: clamp(2rem, 3.25vw, 3.5vw);
            }
        }

        .college-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 10px;

            * {
                grid-column: auto / span 2;
            }

            .classification {
                text-transform: uppercase;
            }

            @media (min-width: 650px) {
                gap: 1.15rem;

                * {
                    grid-column: auto / span 1;
                }
            }
        }
    }

    @media (min-width: 650px) {
        .college-logo {
            grid-column: auto / span 1;
        }

        .college-content {
            grid-column: auto / span 2;
        }
    }

    .college-decoration {
        position: absolute;
        z-index: 2;
        opacity: 10%;
        inset: 0;

        @media (min-width: 650px) {
            right: -10%;
            top: -10%;
            bottom: -10%;
            left: 50%;
        }
    }

    h1 {
        color: #FFF;
    }

    h2 {
        color: #FFF;
    }

    p {
        color: #FFF;
    }
}