h1 {
    margin: 0 0 10px;
    font-family: "Encode Sans Expanded", serif;
    font-weight: 300;
    font-size: 3.25rem;
}

h2 {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 0 5px;
}

p {
    margin: 0;
    font-family: "Encode Sans Condensed", serif;
    font-weight: 200;
    font-size: 1.55rem;
}